@model IEnumerable<Products>

    <h1>All Categories</h1>

    <div class="product-container">
        <h1> </h1>
        <a asp-action="ViewCategory" asp-route-id="Banana" class="products">
           
                <h1 class="category-title">Blake's Bananas</h1>
        </a>
    </div>
