@model BlakeBananaWeb.Models.Purchase
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using BlakeBananaWeb.Models;
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cart</title>
</head>
<body>

    <h1>Purchase Successful</h1>


</body>
</html>