@{
    ViewData["Title"] = "About Page";
}

<div class="about">
    <h1 class="display-4">Our <span class="purple">(MY)</span> Story</h1>
    <div class="box">
        <h1>How Blake's Bananas Became:</h1>
        <h2 class="tag-line">The Perfect Place for All Your Banana Needs!</h2>
    </div>
    <div class="line-custom"></div>
    <div class="story">
    <img src="~/images/me-about.jpg" />
        <div class="line-custom"></div>
        <div class="box">
            <h1>Food as we know it today is dominated by unhealthy choices... <span class="purple">but why?</span></h1>
            <p>
                Our society is hyperfocused on constantly being on the go and avoiding wasting unnecessary moments.
                And one moment they've deemed "not worth their time" is EATING! So instead of trying to overcome this mentality,
                I saw an opportunity to provide a healthy "on-the-go" choice amongst junk food. But then the question became, what
                food option is healthy and enjoyable "on-the-go"? Bananas! They've got built-in packaging to cut down on mess and are
                easy to carry with you!
            </p>
            <h2>Ever since I reached this conclusion, I have dedicated my life to growing and providing only the top quality Bananas for the world to enjoy!</h2>
    </div>
        
    </div>
    
</div>