@{
    ViewData["Title"] = "Contact Page";
}

<div class="page">
    <h1 class="display-4">Contact Us</h1>
        <h2 class="tag-line">Any questions or concerns?</h2>
    <div class="information contact">
    <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Secondary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
        
    
</div>