@{
    ViewData["Title"] = "Thank You!";
}

<div class="page">
    <h1 class="display-4">Thank You!</h1>
    <h2 class="tag-line">A Representative Will Be In Contact With You!</h2>
    <h3>In the meantime, checkout some of these hot products!</h3>
    <div class="d-grid gap-2">
        <input class="btn btn-lg btn-secondary" type="button" value="Start Shopping Now!" onclick="location.href='@Url.Action("Index", "Product")'" />
    </div>
</div>