html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

footer {
    line-height: 20px !important;
    font-size: 10px
}

.header-logo {
    width: 3%
}

.navbar-nav.flex-grow-1.account {
    margin-left: 60%;
}

.product-container{
    position: relative;
    left: -12%;
    border: solid;
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 128%;
}

.product-container h1{
    margin:  3%
}

.products {
    width: 30em;
    display: inline-block;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1.5em;
    padding: 1em;
    border: solid
}

.products h1, .products h2{
    text-align: center;
    display: block;
    font-size: 2em;
}

.products img{
    display: block;
    margin-left:auto;
    margin-right: auto;
}

.products button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.products h2 {
}
