:root {
    --primary-black: #202020f5;
    /*32,32,32*/
    --primary-purple: #BA8EF8;
    /*186,142,248*/
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

footer {
    line-height: 20px !important;
    font-size: 10px
}

.btn:hover {
    background-color: var(--primary-black);
    border-color: var(--primary-black);
}

.box {
    border: solid;
    border-color: var(--primary-black);
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.75);
}


.navbar-nav.flex-grow-1.account {
    margin-left: 60%;
}

#logo {
    width: 3em !important;
}

.index, .about, .page {
    text-align: center;
}

.index-img-container {
    position: relative;
    z-index: 1;
    border: solid;
    border-color: var(--primary-black);
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
}

    .index-img-container h1 {
        width: 100%;
        color: floralwhite;
        background-color: var(--primary-purple);
        z-index: 2;
        position: absolute;
    }

.index .d-grid {
    margin-top: -1em;
}

#index-img {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.display-4 {
    border-bottom: solid;
    border-color: var(--primary-black);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.tag-line {
    color: var(--primary-purple)
}

.line-custom {
    margin: 4em;
    border-bottom: solid;
    border-color: var(--primary-black);
}

.review-container {
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.review {
    width: 30em;
    padding: 2%;
    border: solid;
    border-radius: 1em;
    border-color: var(--primary-black);
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
}

    .review img {
        width: 8em;
        margin: 3%;
    }

.product-container {
    position: relative;
    border: solid;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 1em;
    background-color: var(--bs-primary);
}


    .product-container h1 {
        margin: 3%;
        width: 100%
    }


    .product-container a:hover {
        color: black
    }



.products {
    text-decoration: none;
    color: black;
    width: 48%;
    margin-bottom: 3em;
    padding: 1em;
    border: solid;
    border-radius: 1em;
    background-color: white;
}

    .products:hover {
        border: solid 5px;
        border-color: var(--primary-purple);
        box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.75);
    }


    .products h1, .products h2 {
        display: block;
        font-size: 1.5em;
    }

.product-container h1 {
    position: relative;
    top: -.5em;
    margin-bottom: 1em;
}

.products img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    border-radius: 1em;
}

.products button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.category-title {
    font-size: 5em !important;
    text-align: center;
    padding-top: 1em;
}

.product-item {
    align-content: center;
}

    .product-item h2 {
        text-align: center;
    }

.ButtonOne {
    background-color: var(--primary-purple);
    outline: none;
    border: none;
    border-radius: .5em;
    padding: 1%
}

    .ButtonOne a {
        color: var(--primary-black);
        text-decoration: none;
        font-size: 1.5em;
    }

.line {
    border-bottom: solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 7em
}

.individal-product {
    height: 120%
}

    .individal-product h1 {
        margin: 1%;
        text-align: center;
    }

    .individal-product img {
        border: black solid;
        margin-top: 5%;
        margin-left: 5%;
        margin-bottom: 5%;
        width: 60%;
        border-radius: 1em;
    }

    .individal-product button {
        margin-top: 10%;
    }

.side-details {
    text-align: center;
    padding: 2%;
    border: black solid;
    float: right;
    border-radius: 1em;
}

.product-description {
    border-radius: 1em;
    text-align: center;
    padding: 2%;
    border: black solid;
}

.purple {
    color: var(--primary-purple);
    border-bottom: solid;
}

.story {
    margin-top: 1em;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

    .story img {
        border: solid;
        border-color: var(--primary-black);
        width: 50%;
    }

    .story .box p {
        color: var(--primary-black);
        font-size: 1.2em;
        margin-top: 2%;
        margin-bottom: 2%;
        padding: 2%;
        border-top: solid;
        border-bottom: solid;
        border-color: var(--primary-purple);
    }

.ind-order img {
    width: 50%
}

.ind-order {
    border-bottom: solid 1px
}

.contact-form {
    margin-bottom: 3%;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
}

    .cart-table th {
        font-size: 1.5em;
        border-bottom: solid 1px var(--primary-black);
    }

    .cart-table td {
        font-size: 1.5em;
    }

    .cart-table a {
        text-decoration: none;
    }

.ind-order {
    border: solid 2px var(--primary-purple);
    padding: 2%;
    text-align: center;
}

@media all and (max-width: 750px) {
    .products {
        width: unset;
    }

    .product-container h1 {
        margin: 10%
    }

    .individal-product img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%
    }


    .side-details {
        float: unset;
        margin-bottom: 3%;
    }
}
